# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

/sg-s-homigrad-base
/sg-s-homigrad-content1
/sg-s-homigrad-content2
/sg-s-homigrad-content3
/sg-s-homigrad-content4
/sg-s-homigrad-content5
/sg-s-homigrad-content6